<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">Recipe Name</h4>
                <p class="list-group-item-text">Description</p>                
            </div>
            <span class="pull-right">
                <img src="https://assets.bonappetit.com/photos/61b7d09de4a88caa6ceb754b/3:2/w_3000,h_2000,c_limit/20211208%20Spaghetti%20Squash%20with%20Tomato%20Sauce%20and%20Mozarella%20LEDE.jpg" alt="" class="img-responsive" style="max-height: 50px;">
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>


